

/*      TITLE:               see.css
**                           
**      AUTHOR:              Matthew Wycliff               
**                           
**      DATE:                12/20/2019                   
**                           
**      LAST UPDATE:         12/20/2019                   
**                           
**      PURPOSE:             The purpose of this script is to
**                           pipe data from the Robotic Operating System
**                           To a web browser.
**                           Changes in the data will instigate various
**                           animations of the elements on screen.
**                           During normal use, data changes will 
**                           originate from commands send through
**                           PAX undergirded by Pride View.
**                           
**      ASSOCIATED FILES:    script.js, tf.html, airvolt.cpp 
**                           
**      CLONE COMMAND:       git clone git@bitbucket.org:mwycliff/elproverwms.git
**                           
**      RUN COMMAND:         xdg-open tf.html
**                           
**                           --then promptly hit 'refresh'
**                             once the airvolt ROS node is running.
**                           
*/                                                        

#hvBatteryTile {
	/*
	position: relative;
	*/
	position: absolute;
	top: 100px;
	left: 200px;
    border-style: solid;
    border-width: 1px;
    display: block;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    margin-bottom: 200px;
}

#prechargerTile {
	position: absolute;
	/*
	position: relative;
	top: 500px;
	*/
	top: 600px;
	left: 200px;
    border-style: solid;
    border-width: 1px;
    display: block;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    margin-bottom: 200px;
}

#mcbox {
	position: absolute;
	top: 1100px;
	left: 200px;
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    border-bottom: 15px solid red;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    margin-bottom: 1000px;
}

#mcbox:hover {
    background-color: #CCB500;
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}

#hvBatteryTile:hover {
    background-color: mediumblue;
    width: 300px;
    height: 300px;
    -webkit-animation: slide 0.5s forwards;
}

#prechargerTile:hover {
    background-color: mediumblue;
    width: 300px;
    height: 300px;
    -webkit-animation: slide 0.5s forwards;
}

.on_state {
    background-color: violet;
    width: 350px;
    height: 350px;
    -webkit-animation: slide 0.5s forwards;
}


.on_state_1 {
    background-color: limegreen;
    width: 350px;
    height: 350px;
    -webkit-animation: slide 0.5s forwards;
}


.on_state_2 {
    background-color: darkgreen;
    width: 350px;
    height: 350px;
    -webkit-animation: slide 0.5s forwards;
}

.off_state {
    background-color: steelblue;
    width: 300px;
    height: 300px;
}

.fly {
    background-color: #ADFF2F;
    width: 600px;
    height: 600px;
    transform: rotate(180deg);
}

#propellerLeft {
	position: absolute;
	top: 300px;
	left: 1250px;	
	padding: 10px;
	object-fit: contain;
	margin: 5px;
	border: 1px solid: #000000;
    height: 400px;
	width: 400px;
}

#propellerRight {
	position: absolute;
	top: 300px;
	left: 2550px;	
	padding: 10px;
	object-fit: contain;
	margin: 5px;
	border: 1px solid: #000000;
    height: 400px;
	width: 400px;
}

.su1 img {
  animation: spin_rate_two 300s reverse infinite;
}

.sd1 img {
  animation: slowdown_spin_rate_two 300s reverse infinite;
}

.s2 img {
  animation: spin 500ms reverse;
}

.s3 img {
  animation: spin 2s normal;
}

.s4 img {
  animation: spin 4s reverse;
}

.su10 img {
  animation: spin_level_four 1000s normal infinite;
}

.sd10 img {
  animation: slowdown_spin_level_four 1000s normal infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin_rate_two {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(36000000deg);
  }
}

@keyframes slowdown_spin_rate_two {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes spin_fast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(36000deg);
  }
}

@keyframes spin_super_fast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360000deg);
  }
}

@keyframes spin_level_four {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(36000000deg);
  }
}

@keyframes spin_level_five {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360000000deg);
  }

@keyframes slowdown_spin_level_four {
  from {
    transform: rotate(360000000deg);
  }
  to {
    transform: rotate(0deg);
  }
}

}
    html {
      height: 100%;
    }
    body {
      position: absolute;
	  top: 0px;
	  left: 0px;
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      color: white;
      transition: background-color 0.5s;
      background-image: url("../img/plane.jpg");
      /*
      background-position: top right;
      document.body.style.backgroundPosition = "top right"; 
      */
    }

    .temperature { 
	  position: absolute;
	  top: 1600px;
	  width: 1000px;
	  left: 1000px;
	  font-size: 40px;
	  width: 1400px;
      color: plum;
    }
        
    .humidity {
      position: absolute;
      top: 1540px;
      width: 1000px;
      left: 1000px;
      font-size: 40px;
      width: 1400px;
      color: plum;
    }      
    .precharger_state {
      position: absolute;
      top: 1360px;
      width: 1000px;
      left: 1000px;
      font-size: 40px;
      width: 1400px;
    }
      
    .hv_battery_output_state {
      position: absolute;
      top: 1420px;
      width: 1000px;
      left: 1000px;
      font-size: 40px;
      width: 1400px;
    }
    .motor_torque_port {
      position: absolute;
      top: 1600px;
      width: 1000px;
      left: 40px;
      font-size: 40px;
      margin-bottom: 20px;
    }
   
    .motor_torque_starboard {
      position: absolute;
      top: 1540px;
      width: 1000px;
      left: 40px;
      font-size: 40px;
      margin-bottom: 20px;
    }
   
    .blade_pitch_angle_port {
      position: absolute;
      top: 1480px;
      width: 1000px;
      left: 40px;
      font-size: 40px;
      margin-bottom: 20px;
    }
   
    .blade_pitch_angle_starboard {
      position: absolute;
      top: 1420px;
      width: 1000px;
      left: 40px;
      font-size: 40px;
      margin-bottom: 20px;
    }
   
    .precharge_voltage_percent {
      position: absolute;
      top: 1360px;
      width: 1000px;
      left: 40px;
      font-size: 40px;
      margin-bottom: 20px;
      /*
      margin-top: 1000px;
      */
    }

    button {
      position: absolute;
      top: 2000px;
      left: 40px;
      width: 1000px;
      padding: 15px;
      background: white;
      border: none;
      font-size: 17px;
      border-radius: 6px;
      cursor: pointer;
      outline: none;
    }
    button:active {
      opacity: 0.9;
    }
    
    .info {
      position: absolute;
      top: 0px;
      width: 1000px;
      left: 40px;
      font-size: 40px;
    }
